<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos.css')}}">
    <title>Daniel Guerrero Reina</title>
</head>
<body>

    <h1>Hello Docker: testing Action 01</h1>
    
    <div>
        <p>It is currently {{ the_time }}.</p>
        <img src="http://loremflickr.com/600/400/{{tema}}"  width="600" height="400"/>
    </div>
    
    <h2>El más chulo de los míos, el más canijo de los tuyos</h2>
    <a href="https://www.youtube.com/watch?v=KjFOPtfBQsA">Esto es música de DJ Alberto Cañete</a>
    <a href="https://www.youtube.com/@gassimbassmoke7375">Esto es un canal de mi gassindev</a>
    <iframe src="https://giphy.com/embed/NytMLKyiaIh6VH9SPm" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/GitHub-ok-thumbs-up-thumb-NytMLKyiaIh6VH9SPm">via GIPHY</a></p>
    
</body>
</html>
